* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: 100%;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.8rem;
    color: #0B2027; 
    margin: 0px;
    padding: 0px;    
}
#body_contenedor {
    flex-flow: row wrap;    
    justify-content: center;
    padding: 0px; 
    display: block;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;   
}
img {
    vertical-align: middle;
    border-style: none;
}
div {
    display: block;
}
a {
    background-color: transparent;
    text-decoration: none;
}
