@import 'global';
@import 'header';
@import 'main';
@import 'footer';
@import 'mainPageQuienesSomos';
@import 'mediaqueries';
@import 'variables';

.botones-navbar {
    text-decoration: none;
    font-size: 28px;
    padding: 18px;
    border-radius: 10px;
    font-size: $fontBase;
    color: #321a00;
    font-family: arial;
    font-weight: bold;
}